@keyframes container-title-animateIn{
    from{transform: scale(0.8,1);transform-origin:left center;}
    to{transform: scale(1,1);transform-origin:left center;}
}

@keyframes container-title-step2-animateIn{
    from{transform: scale(1.1,1);transform-origin:left center;}
    to{transform: scale(1,1);transform-origin:left center;}
}

@keyframes card-applying-animateIn{
    from{transform: scale(0.0,0.0);transform-origin:top right;}
    to{transform: scale(1,1);transform-origin:top right;}
}

@keyframes step-count-hint-animateIn{
    from{transform: scale(0.9,1);transform-origin:left center;}
    to{transform: scale(1,1);transform-origin:left center;}
}

@keyframes contract-view-animateIn{
    from{transform: scale(0,0);}
    to{transform: scale(1,1);}
}

@keyframes contract-view-animateOut{
    from{transform: scale(2,2);}
    to{transform: scale(1,1);}
}

@keyframes fingerprint-whitepanel-animateRight{
    from{transform: none;}
    to{transform: translatex(45%);transform: scale(1,1);}
}

@keyframes animateBG{
    0%,70%{opacity:0.85;}
    0%{transform: scale(0,0);}
    70%{transform: scale(1.1,1.1);}
    100%{transform: scale(1,1);opacity:1;}
}

@keyframes animateCheckLabel{
    0%{transform: scale(0,0);}
    70%{transform: scale(0,0);}
    100%{transform: scale(1,1);}
}

@keyframes step7-card-applying-animatIn{
    from{transform-origin: left bottom;transform: translate(0px,0%) scale(1,1);}
    to{transform-origin: left bottom;transform: translate(0px,-15%) scale(1.7,1.7);}
}


@keyframes step7-rightContainer-animatIn{
    from{transform: scale(0,0);transform-origin: right bottom;}
    to{transform: scale(1,1);transform-origin: right bottom;}
}

@keyframes step9-card-applying-animatIn{
    from{transform: translate(1000px,-45%) scale(1.5,1.5);}
    to{transform: translate(30%,-45%) scale(1.5,1.5);}
}

@keyframes step9-rightContainer-animatIn{
    from{transform: translate(150%,0);}
    to{transform: translate(0,0);}
}

@media (max-height: 768px) {

    @keyframes step7-card-applying-animatIn{
        from{transform-origin: left bottom;transform: translate(0px,0%) scale(1,1);}
        to{transform-origin: left bottom;transform: translate(0px,-15%) scale(1.5,1.5);}
    }

    @keyframes step9-card-applying-animatIn{
        from{transform: translate(1000px,-45%) scale(1.5,1.7);}
        to{transform: translate(30%,-45%) scale(1.5,1.7);}
    }

}