* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

html {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

body {
    background: url(../resource/img/bg-original.jpg) no-repeat content-box;
    background-size: cover;
    color: #FFFDFF !important;
    position: absolute;
    overflow: hidden;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.main-mask {
    position: absolute;
    background-image: linear-gradient(110deg, #041B20, #4B4F70);
    opacity: 0.95;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

a:focus,
a:hover {
    text-decoration: none;
    color: #FFFDFF;
}

.step:not(.step-current) {
    display: none;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

.applyCard-wrap h1 {
    margin: .67em 0;
    font-size: 36px;
}

.applyCard-wrap h2 {
    font-size: 28px;
}

.applyCard-wrap h4 {
    font-size: 18px;
}

.applyCard-wrap h5 {
    font-size: 16px;
}

.applyCard-wrap h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.applyCard-wrap h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.applyCard-wrap h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.1;
}

.applyCard-wrap label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.applyCard-wrap {
    margin: -6rem 8rem 0rem 8rem;
}

.applyCard-wrap input {
    color: black;
}

.applyCard-header {
    width: 100%;
    margin-top: 6rem;
}

.applyCard-footer {
    width: 100%;
}

.pageBtn {
    background: #2E7EB7;
    color: #FFFDFF;
    display: inline-block;
    width: 8rem;
    line-height: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: .4rem .6rem;
    cursor: pointer;
    font-family: frutigernext, 'Microsoft YaHei', Arial, Helvetica, sans-serif;
    box-shadow: 1px 2px 5px rgba(0,0,0,.5)
}
#businessProcess{
        position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}
.pageBtn:hover {
    background-color: #285D82;
}

.header-left-section {
    float: left;
    width: 40%;
}

.header-right-section {
    float: left;
    width: 60%;
}

.header-right-section .backBtn {
    float: right;
    margin-top: 2.7rem;
}

.applyCard-container .container-title>* {
    animation: container-title-animateIn 1s ease;
}

.applyCard-container .container-title .step-2,
.applyCard-container .container-title .step-5 {
    animation: container-title-step2-animateIn 1s ease;
}

.container-left-section {
    float: left;
    width: 30%;
}

.container-left-section>.step-count-hint {
    animation: step-count-hint-animateIn 1s ease;
}

.container-left-section>.step-count-hint>h2,
.container-left-section>.step-count-hint>h5 {
    color: #8A9CA7;
}

.container-left-section .card-applying {
    width: 85%;
    background-color: #285D82;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.2rem;
    margin-top: 35px;
    position: relative;
    animation: card-applying-animateIn 1s ease;
}

.container-left-section .card-applying:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.85;
    background-color: black;
    border-radius: 0 5px 5px 0;
    transition: left 1s;
}

.container-left-section .card-applying.step-1:after {
    left: 14.3%;
}

.container-left-section .card-applying.step-2:after {
    left: 28.6%;
}

.container-left-section .card-applying.step-3:after {
    left: 42.9%;
}

.container-left-section .card-applying.step-4:after {
    left: 57.2%;
}

.container-left-section .card-applying.step-5:after {
    left: 71.5%;
}

.container-left-section .card-applying.step-6:after {
    left: 85.8%;
}

.container-left-section .card-applying.step-7 {
        margin-top: 100px;
}

.container-left-section .card-applying.step-7:after {
    left: 100%;
}

.container-left-section .card-applying.step-9 {
    margin-top: 100px;
}

.container-left-section .card-applying.step-9:after {
    left: 100%;
}

.container-left-section .card-applying .card-info {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: #51A2D0;
    padding-left: 20px;
    padding-right: 20px;
}

.container-left-section .card-applying #card-number {
    margin-bottom: 20px;
}

.container-left-section .card-applying #sign-date {
    display: table;
}

.container-left-section .card-applying .yinlian-logo {
    float: right;
    margin-top: -50px;
}

.container-right-section {
    float: right;
    width: 65%;
    border-radius: 8px;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, .5);
    height: 430px;
    margin-top: 25px;
}

.container-right-section .confirmBtn {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.container-right-section .step {
    margin: auto;
}

.container-right-section .step.step-current {
    display: table;
}

.container-right-section .step-1 {
    margin-top: 70px;
}

.container-right-section .step-2 .photo-preview {
    float: left;
    width: 40%;
    margin-top: 98px;
}

.container-right-section .step-2 .photo-taker {
    float: right;
    margin-left: 50px;
    margin-top: 260px;
}

.container-right-section .step-2 .photo-taker a:first-child {
    margin-right: 30px;
}

.container-right-section .step-3 .confirmBtn {
    float: right;
    margin-top: 70px;
}

.container-right-section .step-3 .swiper-container-contractPreview {
    width: 650px;
    padding-top: 40px;
    overflow: hidden;
}

/*.container-right-section .step-3 .swiper-container-contractPreview .swiper-slide {
    margin-right: 20px;
}*/

.container-right-section .step-3 .swiper-container-contractPreview img {
    width: 200px;
    height: 260px;
}

.container-right-section .step-4 .row-msg .col-parent {
    width: 50%;
    float: left;
}

.container-right-section .step-4 .row-msg .col-parent::nth-child(2) {
    float: right;
}

.container-right-section .step-4 .row-msg .col-label {
    text-align: end;
    width: 83px;
    font-size: 1.2rem;
    margin-right: 10px;
}

.container-right-section .step-4 .row-msg .col-input {
    width: 65%;
    font-size: 1.2rem;
    line-height: 2rem;
}

.container-right-section .step-4 .row-msg .col-textarea {
    width: 40%;
    font-size: 1.2rem;
    padding: 5px;
    overflow: hidden;
}

.container-right-section .step-4 .row-msg:first-child {
    margin-top: 85px;
}

.container-right-section .step-4 .row-msg {
    margin: 20px 0px 20px 20px;
    padding-bottom: 35px;
    font-size: 1.2rem;
}

.container-right-section .step-4 .row-msg input,
.container-right-section .step-4 .row-msg textarea {
    border-radius: 3px;
    color: #453;
    border: none;
}

.container-right-section .step-5 .sign-board {
    width: 650px;
    height: 300px;
    margin: 40px 0px 30px 0px;
    background-color: white;
}

.container-right-section .step-5 .sign-oprator {
    float: right;
}

.container-right-section .step-5 .sign-oprator a:first-child {
    margin-right: 30px;
}

.container-right-section .step-6 {
    padding: 90px 30px 0 30px;
}

.container-right-section .step-6 .password-panel {
    float: left;
    width: 45%;
    height: 300px;
}

.container-right-section .step-6 .password {
    font-size: 25px;
    float: right;
    width: 45%;
    margin-top: 60px;
}

.container-right-section .step-6 .password input {
    width: 58%;
    margin-left: 20px;
    border-radius: 5px;
    font-size: 1.5rem
}

.container-right-section .step-6 .password>div:first-child {
    margin-bottom: 40px;
}

.container-right-section .step-7 {
    margin-right: -15px;
}

.container-right-section .step-7 .contact {
    font-size: 25px;
    float: left;
    width: 65%;
    margin-top: 9%;
    margin-right: 8%
}

.container-right-section .step-7 .contact label {
    display: block;
}

.container-right-section .step-7 .contact input {
    width: 80%;
    border-radius: 5px;
    font-size: 1.8rem;
    line-height: 2rem;
}

.container-right-section .step-7 .contact>div:first-child {
    margin-bottom: 40px;
}

.container-right-section .step-7 .contact>div:nth-child(2) input {
    width: 50%;
}

.container-right-section .step-7 a.pageBtn.check-confirmBtn {
    width: 27%;
    font-size: 1.3rem;
    margin-left: 3.5%;
    line-height: 1.5rem;
}

.container-right-section .step-7 a.pageBtn.card-confirmBtn {
    margin-top: 385px;
    position: relative;
}

.container-right-section .step-9 .idcardback {
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, .4);
    margin-left: 30%;
    margin-top: 8%;
    display: table;
    border-radius: 15px;
}

.card-applying.animateInStep7 {
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, .4);
    animation: step7-card-applying-animatIn 1s;
    animation-fill-mode: forwards;
}

.container-right-section.animateInStep7 {
    box-shadow: none;
    animation: step7-rightContainer-animatIn 1s;
}

.card-applying.animateInStep9 {
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, .4);
    animation: step9-card-applying-animatIn 1s;
    animation-fill-mode: forwards;
}

.container-right-section.animateInStep9 {
    box-shadow: none;
    animation: step9-rightContainer-animatIn 1s;
}

.applyCard-footer .preStepBtn {
    position: absolute;
    margin-top: -45px;
    animation: card-applying-animateIn 1s ease;
}

.back-modal,
.fingerprint-sign-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.back-modal {
    background: rgba(0, 0, 0, 0.6);
}

.back-modal .modal-wrap {
    padding-top: 50px;
    padding-bottom: 70px;
}

.back-modal .modal-wrap .swiper-container-contractView {
    overflow: hidden;
}

.back-modal .modal-wrap .swiper-slide {
    padding-left: 32%;
    animation: contract-view-animateIn .5s;
}

.container-right-section .step-3 .animateOut {
    animation: contract-view-animateOut .5s;
}

.back-modal .modal-wrap .swiper-pagination {
    bottom: 110px;
}

.back-modal .modal-wrap .swiper-pagination span {
    width: 20px;
    height: 20px;
}

.back-modal .modal-wrap .swiper-button-prev {
    margin-left: 5rem;
}

.back-modal .modal-wrap .swiper-button-next {
    margin-right: 5rem;
}

.fingerprint-sign-modal {
    background: rgba(49, 60, 69, 0.5);
}

.fingerprint-sign-modal .modal-wrap {
    width: 65%;
    margin: auto;
    background: rgba(0, 0, 0, .3);
    height: 500px;
    margin-top: 140px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, .3);
}

.fingerprint-sign-modal .modal-wrap .white-panel {
    height: 400px;
    width: 358px;
    transform: scaleY(1.4);
    background-color: #EAEAEA;
    float: left;
    margin-top: 50px;
    border-radius: 8px;
    margin-left: 5%;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, .6);
    transition: margin-left .5s;
}

.fingerprint-sign-modal .modal-wrap .fingerprint-viewer {
    border-radius: 50%;
    background-color: #FEFEFE;
    margin-top: 15%;
    margin-left: 44%;
    position: absolute;
    transition: background-color .5s;
}

.fingerprint-sign-modal .modal-wrap .fingerprint-viewer.mask {
    margin-top: 14.7%;
    margin-left: 43.8%;
    background-color: #3C98CD;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 3px #3C98CD;
}

.fingerprint-sign-modal .modal-wrap .fingerprint-viewer .fa-stack {
    width: 8rem;
    height: 8rem;
    background-color: #3C98CD;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 3px #3C98CD;
}

.fingerprint-sign-modal .modal-wrap .fingerprint-viewer .fa-stack .fa {
    font-size: 6rem;
    margin-left: 18px;
    margin-top: 20px;
}

.fingerprint-sign-modal .modal-wrap .fingerprint-viewer .fa-stack .fa.animateCheckLabel {
    animation: animateCheckLabel 1s;
}

.fingerprint-sign-modal .modal-wrap .fingerprint-viewer.mask.animateBG {
    animation: animateBG 1s;
}

.fingerprint-sign-modal .modal-wrap .hcontant {
    position: absolute;
    margin-top: 14%;
    margin-left: 9%;
}

.fingerprint-sign-modal .modal-wrap .hcontant h2:nth-child(2) {
    margin-left: 12%;
}

.fingerprint-sign-modal .modal-wrap .sign-title {
    color: #2497c5;
    margin-left: 17%;
    margin-top: 35%;
    font-size: 1.7rem;
    transform: scaleY(0.75);
    font-weight: bold;
}

.fingerprint-sign-modal .modal-wrap .sign-title p:nth-child(2) {
    margin-left: 22%;
}

.fingerprint-sign-modal .modal-wrap .fingerprint-signBtn {
    color: #2497c5;
    width: 10rem;
    line-height: 1.1em;
    text-align: center;
    font-weight: normal;
    border-radius: 20px;
    border: 1px solid #2497c5;
    margin-top: 35%;
    margin-left: 14%;
    background: none;
    box-shadow: none;
}

.fingerprint-sign-modal .modal-wrap .white-panel.transiteRight {
    margin-left: 53%;
}

@media (max-height: 768px) {
    .swiper-container-contractView img{
        transform: scale(0.9,0.9);
    }
    
    .applyCard-wrap {
        margin: -0rem 6rem 0rem 6rem;
    }
    .applyCard-header {
        width: 100%;
        margin-top: 4rem;
    }
    .back-modal .modal-wrap{
        padding-top: 10px;
    }
    .fingerprint-sign-modal .modal-wrap{
        margin-top: 6rem;
    }
    .applyCard-wrap h1 {
        margin: .67em 0;
        font-size: 30px;
    }

    .applyCard-wrap h2 {
        font-size: 26px;
    }
    .applyCard-wrap h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1;
    }
    .applyCard-header {
        margin-top: 2.5rem;
    }
    .header-right-section .backBtn {
        margin-top: 2rem;
    }
    .container-right-section {
        height: 400px;
    }
    .applyCard-footer .preStepBtn {
        margin-top: -50px;
    }
    .container-right-section .confirmBtn {
        margin-top: 10px;
    }
    .container-right-section .step-3 .confirmBtn {
        margin-top: 40px;
    }
    .container-right-section .step-7 a.pageBtn.card-confirmBtn {
        margin-top: 355px;
        margin-left: -130px;
    }
    .container-right-section .step-7 .contact {margin-left: 150px;}
    .container-right-section .step-9 .idcardback {margin-top: 5%;}
    .back-modal .modal-wrap .swiper-pagination{ bottom: 25px;}
    .back-modal .modal-wrap .swiper-pagination span{ line-height: 1.43rem;}
}

@media (max-height: 768px) and (max-width:1024px) {
    .swiper-container-contractView img{
        transform: scale(0.9,0.9);
    }

    /*.swiper-container-contractPreview .swiper-slide {
        margin-right: -30px;
    }

    .swiper-container-contractPreview .swiper-slide:nth-child(3) {
        margin-right: 0px;
    }*/
    
    .applyCard-wrap {
        margin: -0rem 3rem 0rem 3rem;
    }
    .applyCard-header {
        width: 100%;
        margin-top: 4rem;
    }
    .back-modal .modal-wrap{
        padding-top: 10px;
    }
    .fingerprint-sign-modal .modal-wrap{
        margin-top: 6rem;
    }
    .applyCard-wrap h1 {
        margin: .67em 0;
        font-size: 30px;
    }

    .applyCard-wrap h2 {
        font-size: 26px;
    }
    .applyCard-wrap h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1;
    }
    .applyCard-header {
        margin-top: 2.5rem;
    }
    .container-left-section .card-applying {width: 100%;}
    .header-right-section .backBtn {
        margin-top: 2rem;
    }
    .container-right-section {
        height: 400px;
    }
    .container-right-section .step-3 .swiper-container-contractPreview {width: 550px;}
    .container-right-section .step-3 .swiper-container-contractPreview img {width: 70%;height: 100%;}
    .container-right-section .step-4 .row-msg {margin: 20px 0px 20px 10px;}
    .container-right-section .confirmBtn {margin-right: 15px;margin-top:10px;}
    .container-right-section .step-3 .confirmBtn {
        margin-top: 100px;
    }
    .container-right-section .step-7 a.pageBtn.card-confirmBtn {
        margin-top: 355px;
    }
    .container-right-section .step-9 .idcardback {
        margin-top: 5%;
    }

    .container-right-section .step-5 .sign-board{height:270px;width: 550px;}
    .fingerprint-sign-modal .modal-wrap .sign-title {margin-left: 13%;}
    .fingerprint-sign-modal .modal-wrap .white-panel {height: 400px;width: 308px;}
    .container-right-section .step-6 .password-panel {margin-left: -50px;}
    .container-right-section .step-6 .password-panel img{transform: scale(0.8);}
    .container-right-section .step-7 a.pageBtn.card-confirmBtn {margin-top: 355px;margin-left: -130px;}
    .container-right-section .step-6 .password {width: 55%;}
    .back-modal .modal-wrap .swiper-pagination{ bottom: 65px;}
    .back-modal .modal-wrap .swiper-pagination span{ line-height: 1.43rem;}
    .container-right-section .step-9 .idcardback {margin-top: 3%;margin-left: 160px;}
}

@media (min-height: 769px) and (max-height: 1024px) {
    .applyCard-wrap {
        margin: 0rem 6rem 0rem 6rem;
    }
    .applyCard-header {
        width: 100%;
        margin-top: 6rem;
    }
    .back-modal,
    .fingerprint-sign-modal {
        padding-top: 6rem;
    }
    .back-modal .modal-wrap .swiper-pagination{ bottom: 90px;}
    .back-modal .modal-wrap .swiper-pagination span{ line-height: 1.43rem;}
}