	* {
		margin: 0;
		padding: 0;
		font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial";
	}
	/*html {
		background-image: linear-gradient(135deg, #11343C, #484C6C 50%, #143740, #494D6E);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}*/
	/*body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}*/
	/*html {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		background-size: 100% 100%;
	}

	body {
		width: 100%;
		height: 100%;
		background: url(../resource/bg-original.jpg) no-repeat content-box;
		background-size: cover;
		overflow: hidden;
	}

	.main-mask {
		position: absolute;
		background-image: linear-gradient(110deg, #041B20, #4B4F70);
		width: 100%;
		height: 100%;
		opacity: 0.95;
	}*/
	.#transfer{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.iview-steps{

	}
	.transferMain{
		position: absolute;
	    left: 50%;
	    width: 360px;
	    top: 30%;
	    margin-left: -175px;
	}
	.transferMain .back{
		background: white;
	    width: 50px;
	    text-align: center;
	    height: 20px;
	    line-height: 20px;
	    border-radius: 2px;
	    display: inline-block;
	    margin-bottom: 20px;
	    margin-left: 300px;
	}
	.page:not(.current) {
		display: none;
	}

	.hidden {
		display: none;
	}

	.home-top {
		height: 5rem;
		width: 100%;
		margin-top: 6rem;
	}

	.home-bottom {
		width: 100%;
		margin-top:4rem;
	}

	.title {
		font-size: 2.3rem;
		font-weight: bold;
		color: white;
	}

	.redBtn {
		background: #2574AE;
		color: white;
		font-weight: bold;
		font-size: 1.5rem;
		padding: .4rem 1.2rem;
		cursor: pointer;
		font-family: frutigernext, 'Microsoft YaHei', Arial, Helvetica, sans-serif;
		box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
	}

	#home-abandonCard {
		float: right;
		margin-right: 8rem;
		display: none;
	}

	.left-section {
		float: left;
		text-align: center;
		width: 40%;
		text-align: left;
	}

	.left-section>div {
		width: 22rem;
		margin: 0 auto;
		line-height: 3rem;
	}

	.right-section {
		float: left;
		width: 60%;
	}

	.home-banner {
		float: left;
	}

	.home-block {
		width: 16rem;
		height: 13rem;
		margin: 1rem 1rem;
		box-shadow: 3px 10px 32px rgba(0, 0, 0, .8);
		padding: 1rem;
		color: white;
		font-size: 1.5rem;
		font-weight: bold;
	}

	.home-block-bottom {
		width: 7.5rem;
		height: 6rem;
		float: left;
		margin-left: 1rem;
		font-size: 1rem;
		color: white;
		box-shadow: 3px 10px 32px rgba(0, 0, 0, .5);
	}

	.chinsize{
		font-weight: 600;
	}
	.card_1 {
		background: #263C69;
	}

	.card_2 {
		background: #33727F;
	}

	.card_3 {
		background: #204385
	}

	.card_4 {
		background: #415F97;
	}

	.contentsize {
		margin: 0.7rem 0.5rem;
	}
	.chinSize{
		font-weight: 600;
	}
	.overlay {
		width: 16rem;
		height: 1rem;
		transform: scaleY(-1);
		opacity: 0.4;
		filter: alpha(opacity='40');
		margin-left: 1rem;
		margin-top: -1rem;
	}

	.lay_1 {
		background: #27344D;
	}

	.lay_2 {
		background: #393356;
	}

	.reflection {
		width: 7.5rem;
		height: 3rem;
		opacity: 0.4;
		margin-left: 1rem;
		float: left;
		filter: alpha(opacity='40');
	}

	.ref_1 {
		background: linear-gradient(#253C68, #2D3E58);
	}

	.ref_2 {
		background: linear-gradient(#33727F, #2D3E58);
	}

	.ref_3 {
		background: linear-gradient(#204385, #384366);
	}

	.ref_4 {
		background: linear-gradient(#4F5B84, #474D70);
	}

	.enlarge-block {
		animation: k2 .2s ease-out;
	}

	.home_banner_one {
		background: linear-gradient(#437A8C, #213E61);
	}

	.home_banner_two {
		background: linear-gradient(#6081C1 40%, #1F4585);
	}

	.ps-content {
		font-size: 1.3rem;
	}

	.swiper-container-home {
		transform: scale(.5, .5);
	}

	.show-swiper {
		animation: k3 .2s ease-in forwards;
	}

	.businessSelection-top {
		padding: 6rem 5rem 5rem;
	}

	.businessSelection-top>.title {
		width: 70%;
		text-align: left;
		float: left;
	}

	.businessSelection-top>.buttonWrap {
		width: 30%;
		text-align: right;
		float: left;
	}

	@keyframes k2 {
		from {
			transform: scale(1, 1);
			opacity: 1;
		}
		to {
			transform: scale(3, 3);
			opacity: 0;
		}
	}

	@keyframes k3 {
		to {
			transform: scale(1, 1);
		}
	}

	@keyframes k4 {
		/*左侧图片swiper动画*/
		from {
			opacity: 0;
			transform: translateY(2rem);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes k5 {
		/*左侧方块swiper动画*/
		from {
			transform: translateX(20rem);
		}
		to {
			transform: translateX(0);
		}
	}

	@keyframes k6 {
		/*右侧swiper动画*/
		from {
			transform: translateX(110rem);
		}
		to {
			transform: translateX(0);
		}
	}
	/*页面二*/

	.init-show-swiper {
		animation: k4 .2s ease-in forwards;
	}

	.init-show-swiper-block {
		animation: k5 .2s;
	}

	.init-banner-center {
		animation: k6 1.3s ease-in forwards;
	}

	.page .businessSelection-top .title {
		font-size: 2rem;
		font-weight: bold;
		color: white;
	}

	.tempt {
		width: 8.3rem;
		height: 1rem;
		margin-top: 1.2rem;
		background: #506474;
		float: right;
		margin-left: 10px;
	}

	.businessSelection-bottom {
		width: 100%;
		height: 29rem;
		margin-top:2rem;
	}

	.wrap_border_left {
		float: left;
		width: 58%;
		height: 100%;
	}

	.wrap_border_right {
		width: 39%;
		height: 100%;
		float: right;
	}
	#swipcontainerbottom{
		width:100%;
		height: 100%;
	}
	.line-v {
		width: 2px;
		height: 28rem;
		background: #133B4E;
		position: absolute;
		left: 59%;
		z-index: -3;
	}

	.swiper-slide {
		color: #fff;
	}

	/*.wrap_border_right .swiper-slide:not(.swiper-slide-active){
		padding: 30px 0;
	}*/

	.swiper-slide .son_title {
		font-size: 1.2rem;
	}

	.swiper-slide .son_content {
		font-size: 0.7rem;
	}

	.wrap_border_right .swiper-slide-active .son_title {
		font-size: 1.6rem;
	}

	.banner-center {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 7.8rem;
		background: linear-gradient(to right, #274465, #41798A);
		top: 22.7rem;
		box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
	}

	.swip-wrap-body {
		width: 7.81rem;
		height: 6.25rem;
		box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
		margin-left:10px;
		margin-top:3px;
	}
	.swip-wrap-header img{
		margin-top:5px;
	}
	.swiper-container-v {
		width: 75%;
		height: 28rem;
	}
	.swiper-container-v .swiper-wrapper {
		text-align: center;
		font-size: 0.8rem;
	}

	.swiper-container-h {
		height: 7.5rem;
		width:100%;
	}

	.right_top {
		position: absolute;
		right: 34%;
		top: 11rem;
		cursor: pointer;
		transform: rotate(90deg);
	}

	.right_down {
		position: absolute;
		right: 34%;
		bottom: 1.5rem;
		transform: rotate(180deg);
		cursor: pointer;
		transform: rotate(90deg);
	}

	.leftbtn {
		position: absolute;
		left: 1rem;
		top: 25.5rem;
		z-index: 10;
		cursor: pointer;
		color:#fff;
	}

	.rightbtn {
		position: absolute;
		right: 28.2rem;
		top: 25.5rem;
		z-index: 10;
		cursor: pointer;
		color:#fff;

	}
	/*页面三*/

	.OutCardpng {
		display: flex;
		/*height: 600px;*/
		align-items: center;
		/**/
		flex-direction: column;
		margin-top: 230px;
	}

	.circular {
		border-radius: 50%;
		width: 12.5rem;
		height: 12.5rem;
		background: #F2F2F2;
		/*margin: 0 auto;*/
	}

	.circular_in {
		border-radius: 50%;
		width: 9.31rem;
		height: 9.31rem;
		background: #FFFFFF;
		margin: 1.57rem auto;
		background:rgba(249, 243, 243,1);
	}

	.SuccessPng {
		margin: 45px 43px;
		margin: 25px 13px;
	}

	.rotefont {
		position: absolute;
		color: #125FFD;
		font-size: 209px;
		top: 11.4rem;
		/*left: 23.56rem;*/
		/**/
		position: relative;
		font-size: 13rem;
		top: -15.9rem;
	}

	.Pagefont {
		position: absolute;
		top: 28.1rem;
		/*left: 25rem;*/
		color: #fff;
		position: relative;
    	top: -13.1rem;
	}

	/*.pageSuccess {
		margin-left: 2.93rem;
	}*/

	.Pagefont p {
		/*margin-left: 2.8rem;*/
		text-align: center;
	}

	.cir_wrapper {
		width: 12.5rem;
		height: 12.5rem;
		background: yellow;
	}

	@keyframes k7 {
		/*内圆*/
		from {
			transform: scale(1, 1);
			border-radius: 50%;
			/*opacity: 1;*/
			background:rgba(249, 243, 243,1);
		}
		to {
			transform: scale(1.4, 1.4);
			border-radius: 20%;
			/*opacity: 0;*/
			background:rgba(249, 243, 243,0);
		}
	}

	@keyframes k8 {
		/*外圆*/
		0% {
			transform: scale(1, 1);
			border-radius: 50%;
			/*background:#F2F2F2;*/
		}
		50% {
			transform: scale(1.2, 1.2);
			border-radius: 25px;
			/*background:#F2F2F2;*/
		}
		100% {
			transform: scale(1, 1);
			border-radius: 50%;
			background:#2574AE;
		}
	}

	.transcircular_in {
		animation: k7 0.5s;
		animation-fill-mode: forwards;
	}

	.transcircular_wrapper {
		animation: k8 0.7s;
		animation-fill-mode: forwards;
	}