<div class="step step-4" data-step=4>
						<div class="row-msg">
							<div class="col-parent"><label for="customer-name" class="col-label">姓名</label><input  disabled readonly id="customer-name" type="text" class="col-input"
								     value="张三"></div>
							<div class="col-parent"><label for="customer-gender" class="col-label">性别</label><input  disabled readonly id="customer-gender" type="text"
								    class="col-input" value="男"></div>
					</div>
						<div class="row-msg">
							<div class="col-parent"><label for="customer-id" class="col-label">证件号码</label><input disabled readonly id="customer-id" type="text" class="col-input"
								     value="622772846103564"></div>
							<div class="col-parent"><label for="id-type" class="col-label">证件类型</label><input  disabled readonly id="id-type" type="text" class="col-input"
								    value="身份证"></div>
						</div>
						<div class="row-msg">
							<div><label for="customer-address" class="col-label">联系地址</label><textarea disabled readonly  id="customer-address" row="2"
								    class="col-textarea" >陕西省西安市雁塔区丈八四路20号神州数码科技园</textarea></div>
						</div>
						<a class="pageBtn gotoNext confirmBtn">确认</a>
					</div>